@use "/src/sass/base/variables.scss" as *;

@mixin title {
        margin: 0 auto;
        font-style: normal;
        line-height: normal;
        font-weight: 500;
        text-transform: uppercase;
        color: $Dark;
        text-align: center;
};

@mixin button {
    display: block;
    padding: 0 10px;
    border: 1px solid $Dark;
    border-radius: 2px;
    text-align: center;
    color: $Dark;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
};

@mixin dicoration {
    &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid $Dark;
            width: 200px;
            height: 1px;
        }
    &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid $Dark;
            width: 1px;
            height: 200px;
        }
}

