@use "/src/sass/base/variables.scss" as *;

.about{
    padding-top: 50px;
    .title-h1{
        margin-top: 60px;
    }
    &__wrapper{
        margin-top: 60px;
    }
    &__text{
        margin-top: 35px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: $Dark;
    }
    &__img{
        width: 100%;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }
};
@media screen and (min-width: 768px){
    .about{
        &__img{
            display: block;
            margin: 0 auto;
            width: 600px;
        }
    }
};
@media screen and (min-width: 1200px) {
    .about{
        &__content{
            display: flex;
            flex-wrap: nowrap;
            column-gap: 20px;
        }
        &__img{
            margin: 0; 
        }
        &__text{
            margin: 0;   
        }
    }
};
@media screen and (min-width: 1920px){
    .about{
        &__wrapper{
            margin-top: 100px;
        }
        &__img{
            width: 100%;
        }
        &__text{
            font-size: 20px;
        }
    }
};