@use "/src/sass/base/variables.scss" as *;
.activities{
    padding-top: 60px;
    &__wrapper{
        row-gap: 40px;
    };
    &__text{
        margin-block-start: 20px;
        font-weight: 400;
        font-size: 16px;
        color: $Dark;
        &_ceramic{
            color: $Ceramic;
        };
    };
    &__img{
        width: 100%;
        margin-top: 20px;
    }
};

@media screen and (min-width: 768px){
    .activities {
        padding:60px 95px 0 95px;

    &__wrapper{
        margin-top: 40px;
    };
    &__text{
        font-size: 20px;
        margin-block-start: 25px;
    };
    &__img{
        margin-top: 40px;
    }
 };
};

@media screen and (min-width: 1200px) {
    .activities{
    &__wrapper{
        margin-top: 80px;
    }
    &__col{
        padding: 0 10px 0 10px;
    }
    &__img{
        margin-top: 60px;
    }
    &__text{
        margin-block-start: 25px;
        &_fixed{
            inline-size: 556px;
        }
    }
  }
};

@media screen and (min-width: 1920px){
    .activities {
        padding-top: 77px;
    &_text{
        margin-top: 30px;
    };
  };
};

 



