@keyframes slidein {
    0%{
        transform: translateY(-300%);
        opacity: 0;
    }
    50%{
        transform: translateY(0%);
        
    }
    70%{
        transform: rotateZ(180deg);
        
    }
    100% {
        transform: rotateZ(360deg);
        opacity: 1;
    }
};    

