@use "/src/sass/base/variables.scss" as *;

.catalog{
    padding: 50px 0 60px 0;
    h1{
        margin-top: 60px;
    }
    &__tabs{
        margin-top: 60px;
        border: 1px solid $Dark;
        padding: 13px 25px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 13px;
    }
    &__tab{
        border: none;
        padding: 0;
        background: $Light;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: $Dark;
        cursor: pointer;
        &_active::after{
            content:"";
            display: block;
            margin-top: 1px;
            border: 1px solid $Dark;
            width: 100%;
            height: 1px;
        }  
    }
    &__content{
        margin-top: 60px;
        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: baseline;
            }
        &-link{
            width: 100%;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
            img{
                width: 100%;
            }
            p{
                width: 100%;
                
                padding: 12px 12px 16px 12px;
                line-height: 2;
                font-weight: 500;
                font-size: 16px;
                color: $Dark;
                border: 1px solid $Dark;
                border-top: none;
            }
            
        }
    }
};

@media screen and (min-width: 768px) {
    .catalog {
        &__tabs{
            margin-top: 73px;
            width: 459px;
        }
        &__tab{
            font-weight: 400;
        }
        &__content{
            &-link{
                width: 340px;
            }
            &-wrapper{
                position: relative;
                padding: 10px 10px 0 10px ;
                flex-direction: row;
                flex-wrap: wrap;
                &::before{
                    content:'';
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 1px solid $Dark;
                    width: 200px;
                    height: 1px;
                }
                &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        border: 1px solid $Dark;
                        width: 1px;
                        height: 200px;
                }
            }
        }
    }
};

@media screen and (min-width: 1200px) {
    .catalog {
        &__content{
            &-wrapper{
            padding: 25px 25px 0 25px;
            gap: 35px;
        }
    }
    }

};

@media screen and (min-width: 1200px) {
    .catalog {
        &__content{
            &-wrapper{
                column-gap: 83px;
                row-gap: 25px;
            }
            &-link{
                width: 285px;
            }
        }
    } 
}