.findus{
    padding: 60px 0;
    &__wrapper{
        margin-top: 60px;
        iframe{
            width: 100%;
            height: 206px
        }
    }
};
@media screen and (min-width: 768px){
    .findus{
        &__wrapper{
            iframe{
            display: block;
            margin: 60px auto;
            width: 663px;
            height: 400px;
        }
        }
    }
}
@media screen and (min-width: 1200px){
    .findus {
        &__wrapper{
            iframe{
            width: 663px;
            height: 608px;
            }
        }
    }
}
@media screen and (min-width: 1920px){
    .findus {
        padding: 100px 0;
        &__wrapper {
            margin: 80px auto;
            iframe{ 
            width: 801px;
            height: 604px;
            }
        }
    }
};

