@use "/src/sass/base/variables.scss" as *;
.git{
    .just-validate-error-field {
        border: 1px solid $ui-error;
    }
    padding-top: 60px;
    &__wrapper{
        padding-top: 60px;
    };
    &__tea{
        display: none;
    }
    &__vase {
        display: none;
        animation: slidein 5s;
        
    }

    &__fieldset{
        margin-bottom: 4px;
        padding: 0;
        display: flex;
        flex-direction: column;
        border: none;
    }
    &__label{
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
    }
    &__input{
        background: #fff;
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        width: 100%;
        height: 48px;
        &:focus{
            border: none;
            outline: 1px solid $Dark;
        }
        &::placeholder{
            font-weight: 500px;
            font-size: 14px;
            line-height: 200%;
            color: $ui-disabled;
        }
    }
    &__textarea {
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        width: 100%;
        height: 132px;
        background: #fff;
        resize: none;
        &:focus {
            border: none;
            outline: 1px solid $Dark;
        }
        &::placeholder {
            font-weight: 500px;
            font-size: 14px;
            line-height: 200%;
            color: $ui-disabled;
        }
    }
    &__conset{
        margin-top: 16px;
        font-size: 14px;
        line-height: 200%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
        row-gap: 2px;
        a {
            color: #a22dc6;
            text-decoration: none;
        }
    }
    &__checkbox{
        border-radius: 2px;
        width: 15px;
        height: 15px;
    }
    &__btn{
        margin-top: 20px;
    }

};


@media screen and (min-width: 768px){
    .git{
        &__wrapper{
            padding-left: 24px;
            position: relative;
            padding-top: 45px;
        }
        &__vase{
            display: block;
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
        &__input{
            width: 300px;
        }
        &__textarea{
            display:flex;
            flex-direction: column;
            width: 300px;

        }
        
        &__boxname,&__boxinput{
            display: flex;
            flex-direction: column;
        }
    }
};

@media screen and (min-width: 1200px) {
    .git{
    &__wrapper{
        padding-left: 0;
        display: flex;
        flex-wrap: nowrap;
        gap: 40px;
        padding-top: 80px;
    }
   
    &__tea{
        display: block;
        width: 100%;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        
    }

  }
}

@media screen and (min-width: 1920px){
    .git{
        padding-top: 100px;
        &__wrapper{
            gap: 147px;
        }
        &__fieldbox{
        display: flex;
        justify-content: space-between;
        gap: 45px;
        }
        &__boxname,&__boxinput{
        display: flex;
        flex-direction: column;
        }
    }
};






