@use "/src/sass/base/variables.scss" as *;

.header {
    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        width: 100px;
        height: 100px;
    }
    &__icons{
        display: flex;
        align-items: flex-start;
        gap: 15px;
        a{
            span{
                color: $Dark;
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }
    &__nav{
        display: none;
    }
    &__menu{
        padding: 50px 10px;
        width: 100vw;
        height: 100vh;
        background-color: $Light;
        position: fixed;
        top: 0;
        left: -100vw;
        transition: all 0.5s;
        &-close{
            position: relative;
            width: 20px;
            height: 20px;
            span{
                position: absolute;
                top: 1px;

                display: block;
                border: 1px solid $Dark;
                width: 20px;
                height: 1px;
                &:nth-child(1){ 
                transform:translateY(8px,) rotate(45deg);
                }
                &:nth-child(2){
                transform:translateY(8px) rotate(135deg);
                }
            }
        }
    &_active{
        transform: translateX(100vw);
    }
    }
    &__menu-nav{
        margin-top: 50px;
        padding-left: 14px;
        ul{
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 25px;
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            list-style-type:none;
            a{
                text-decoration: none;
                color: $Dark;
            }
        }
    }
}

.burger{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;
    height: 23px;
    span{
        display: block;
        width: 20px;
        height: 1px;
        background-color: $Dark;
    }
}
@media screen and (min-width: 768px) {
    .header {
        &__nav {
            display: block;
        }
        &__menu{
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .header{
        &__nav{
            margin-top: 20px;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 30px;
                padding-left: 0;
                li{
                    list-style-type: none;
                    
                }
            }
        }
        &__link{
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: $Dark;
            text-decoration: none;
        }
    }
    .burger{
        visibility: hidden;
    }   
}

@media screen and (min-width: 1920px) {
    .header{
        &__logo {
        width: 150px;
        height: 151px;
        }
        &__nav {
            margin-top: 36px;
            ul{
                gap: 60px;
            }
        }
    }
}