.promo {
    position: relative;
    padding-top: 50px;
    &__wrapper{
        margin-top: 50px;
    }
    &__title{
        padding: 0 5px;
    }
    &__cta{
        margin-top: 40px;
    }
    &__img{
        margin: 0 auto;
        width: 270px;
        height: 377px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }
    &__btn{
        margin: 19px auto 0 auto;
    }
    &__potter{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .promo{
        &__wrapper{
            display: flex;
            justify-content: space-between;
        }
        &__cta {
            margin-top: 0;
        }
        &__img{
            width: 230px;
            height: 321px;
        }
        &__title{
            padding-inline: 0px;
            padding-top: 250px;
            padding-left: 71px;
            text-align-last: left;
        }
    } 
}

@media screen and (min-width: 1200px) {
    .promo{
        &__potter{
            display: block;
            width: clamp(450px, 38vw, 640px);
            height: 633px;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }
        &__title{
            padding-left: 571px;
        }
    }
}

@media screen and (min-width: 1920px){
    .promo{
        padding-top: 40px;
        &__wrapper {
            margin-top: 79px;
        }
        &__img {
            width: 330px;
            height: 460px;
        }   
        &__title {
            padding-left: 642px;
            padding-top: 384px;
        }
        &__potter {
            height: 900px;
        }
    }
}