@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.title-h1-italic{
    @include title;
        font-style: italic;
        font-size: 24px;
};

.title-h2, .title-h1{
    @include title;
    font-size: 32px;
    
};

.title-blog{
    @include title;
    font-size: 24px;
    text-align: left;
    margin: 0;

}

.title-h3{
    @include title;
    font-size: 20px;
};

.title-h4{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: $Light;
}

@media screen and (min-width: 768px) {
    .title-h2,
    .title-h1 {
        font-size: 36px;
    }
};

@media screen and (min-width: 1200px) {
    .title-h2,
    .title-h1{
        font-size: 40px;
        text-align: center;
    }
    .title-h3{
        font-size: 24px;
    }

};

@media screen and (min-width: 1920px) {
    .title-h1-italic{
        font-size: 32px;
    }
};
